@use "sass:map";
@use "./assets/scss/partials/theme";

body {
  line-height: 1;
  margin-top: theme.$headerHeight;
}

.container {
  width: 100%;
  padding-left: map.get(theme.$spacing, 16);
  padding-right: map.get(theme.$spacing, 16);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: map.get($map: theme.$breakpoints, $key: "sm")) and (max-width: map.get($map: theme.$breakpoints, $key: "md")) {
    width: map.get($map: theme.$widths, $key: "sm");
  }

  @media (min-width: map.get($map: theme.$breakpoints, $key: "md")) and (max-width: map.get($map: theme.$breakpoints, $key: "lg")) {
    width: map.get($map: theme.$widths, $key: "md");
  }

  @media (min-width: map.get($map: theme.$breakpoints, $key: "lg")) and (max-width: map.get($map: theme.$breakpoints, $key: "xl")) {
    width: map.get($map: theme.$widths, $key: "lg");
  }

  @media (min-width: map.get($map: theme.$breakpoints, $key: "xl")) {
    width: map.get($map: theme.$widths, $key: "xl");
  }
}
